// Primary Color
$midnight-blue: #0F2741;

// Accent Colors
$accent-sky: #61C2FF;
$accent-mint: #34D3B4;

// Neutral Colors
$neutral-dark-gray: #2E2E2E;
$neutral-light-gray: #F3F5F7;

// Status
$warning-feedback: #E04F5F;