// Primary Color
$midnight-blue: #0f2741;

// Accent Colors
$accent-sky: #61c2ff;
$accent-mint: #34d3b4;

// Neutral Colors
$neutral-dark-gray: #2e2e2e;
$neutral-light-gray: #f3f5f7;

// Status
$warning-feedback: #e04f5f;
