@use "sass:color";
@use "sass:map";
@use "./pages/services";
@use "pages/contact-us";
@use "./pages/about";
@use "./pages/reviews";
@use "./abstracts/mixins" as mx;
@use "./base/typoraphy" as *;
@use "./abstracts/variables" as *;
@use "components/navbar";
@use "./components/footer";
html,
body {
  margin: 0;
  padding: 0;
  height: auto;
}

:root {
  --font-heading: #{$font-heading};
  --font-body: #{$font-body};
  --font-ui: #{$font-ui};
}
