<nav class="site-nav" aria-label="Huvudmeny">
    <!-- Desktop -->
    <div class="navbar" id="navbar-desktop">
        <a href="/" class="logo-container">
            <img src="/assets/logo2.png" alt="Grupp 8 Städ" class="logo" />
        </a>
        <ul class="nav-pages">

            <li class="nav-li"><a href="/index.html" class="pages-link">Hem</a></li>
            <li class="nav-li"><a href="/pages/about.html" class="pages-link">Om oss</a></li>
            <li class="nav-li"><a href="/pages/services.html" class="pages-link">Tjänster</a></li>
            <li class="nav-li"><a href="/pages/contact-us.html" class="pages-link">Kontakt</a></li>
        </ul>
    </div>


    <ul class="nav-mobile-links" id="mobile-links" hidden>
        <li><a href="/index.html">Hem</a></li>
        <li><a href="/pages/about.html">Om oss</a></li>
        <li><a href="/pages/services.html">Tjänster</a></li>
        <li><a href="/pages/contact-us.html">Kontakt</a></li>
    </ul>
    </div>
</nav>