@use "../abstracts/variables" as *;
@use "../base/typoraphy" as *;
@use "../colors" as *;
@use "../abstracts/mixins"as *;

.site-footer {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  background: $midnight-blue;
  color: white;

  .container {
    display: flex;
    padding: 0 5rem;
    color: white;
    gap: 4rem;

    @include respond-up(md) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 10rem;
      padding: 1rem 10rem;

      margin: 0 auto;

      justify-items: center;
    }
    .footer-col {
      font-family: var(--font-body);
      margin-bottom: 0.3rem;
      @include respond-up(md) {
        font-weight: 200;
        font-size: 1rem;
      }

      h4 {
        font-weight: 600;
        font-size: 0.7rem;
        color: white;
        margin-bottom: 0.3rem;
        letter-spacing: 0.3px;
        text-align: center;
        @include respond-up(md) {
          font-family: $font-heading;
          text-align: left;
          font-weight: 900;
          font-size: 1rem;
          margin-bottom: 0.3rem;

          letter-spacing: 0.5px;
        }
      }
      .intro-text {
        color: white;

        font-size: 0.4rem;
        line-height: 1.1;
        font-weight: 300;
        text-align: center;

        @include respond-up(md) {
          font-size: 1rem;
          max-width: 25rem;
          text-align: left;
        }
      }

      // Snabblänkar
      .footer-nav {
        display: flex;
        justify-items: center;
        justify-content: center;
        text-align: center;
        @include respond-up(md) {
          display: flex;
          justify-items: center;
          justify-content: center;
          text-align: center;
        }
        ul,
        li {
          list-style: none;

          display: grid;
          gap: 0.2rem;
          text-align: center;
          @include respond-up(md) {
            text-align: center;
          }
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 0.4rem;

          transition: opacity 0.2s ease, color 0.2s ease;
          @include respond-up(md) {
            display: flex;
            font-size: 1rem;
            text-align: center;
          }

          &:hover {
            color: $accent-mint;
          }
        }
      }

      // Kontaktinfo
      .footer-info {
        p {
          display: flex;

          margin-bottom: 0.3rem;
          font-size: 0.4rem;
          @include respond-up(md) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // --- Footer bottom bar ---
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 2rem;
    padding-top: 1rem;
    font-size: 0.4rem;
    opacity: 0.7;
    text-align: center;
    @include respond-up(md) {
      text-align: center;
    }
  }
}
