@use "../variables.scss" as *;
@use "../mixins" as *;

.contact-us {
  display: flex;
  background: $gradient-primary;

  min-height: 100dvh;
  justify-content: center;
  justify-items: center;
  align-items: center;

  overflow: hidden;
  .container {
    display: flex;
    width: 80%;
    height: 80dvh;
    justify-content: center;
  }
  .section-left {
    width: 50%;
    height: 50%;

    color: $shadow-soft;

    font-size: 40px;

    padding: 3rem;
  }
  .main-text {
    margin-bottom: 2rem;
    align-items: start;
  }
  .contact-icons {
    display: inline-block;
  }

  .contact-li {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .tel-text {
    color: white;
    font-size: 1.5rem;
    .tel-number {
      font-size: 14px;
    }
  }

  .contact-icon {
    display: inline;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    font-size: 1rem;
    padding: 10px;
    color: rgba(34, 197, 94, 0.8);

    // @include glass-card(
    // 1rem,
    // 1rem,
    // rgba(34,197,94,0.2),
    // rgba(255,255,255,0.2),
    // 30px    ,
    // 10px
    // );
  }
  .icon-btn {
    color: green;
  }

  .title {
    text-align: start;
    font-size: 25px;
    color: $accent;
  }
  #info {
    color: $primary-foreground;
    font-size: 15px;
  }
  .main-text {
    max-width: 430px;
    color: white;
  }

  .right-section {
    display: flex;

    align-items: center;
    justify-content: center;

    background-attachment: fixed;
  }

  .glas-card {
    width: 35rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border: 0.5px solid white;
    background: inherit;
    overflow: hidden;
    border-radius: 20px;
    padding: 1rem;
    z-index: 1;

    // @include glass-card( min(60rem, 100%), 38rem, rgba(250, 253, 255, 0.1));
  }
  .glas-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(50px);
    margin: -20px;

    padding: 1rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 1rem;
    .contact-label {
      color: white;
      margin-bottom: 0.5rem;
    }

    .contact-input {
      padding: 15px;
      background: transparent;
      border: 1px solid white;
      border-radius: 14px;
      margin-bottom: 1rem;
    }
    .input-textarea {
      display: flex;
      padding: 3rem 1rem;
      background: transparent;
      border: 1px solid white;
      border-radius: 20px;
    }
  }
}
